openapi: 3.0.4
info:
  title: AI21 Studio API
  description: Access our powerful language models using an API that makes you smile
  version: 1.0.0
servers:
  - url: https://api.ai21.com/
paths:
  /studio/v1/chat/files/convert:
    post:
      summary: Convert Document File
      operationId: convert_document_file_studio_v1_chat_files_convert_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_convert_document_file_studio_v1_chat_files_convert_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/chat/completions:
    post:
      tags:
        - Jamba Complete
      summary: Studio Chat Complete
      description: "This is the endpoint for the [Jamba Instruct model](https://docs.ai21.com/docs/jamba-models).\nThis is a foundation model that supports both single-turn (question answering,\ntext completion) and multi-turn (chat style) interactions.\n\nYou can optionally stream results if you want to get the response as each\ntoken is generated, rather than waiting for the entire response."
      operationId: v1_chat_complete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response V1 Chat Complete
                anyOf:
                  - $ref: '#/components/schemas/ChatCompletion'
                  - type: array
                    items:
                      $ref: '#/components/schemas/ChatCompletionVllmStreamingMessage'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/conversational-rag:
    post:
      summary: Conversational Rag
      operationId: v1_conversational_rag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationalRagConfig'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationalRagResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/library/files:
    get:
      tags:
        - Library management
      summary: Get Workspace Files
      description: "Get metadata about a specific file by file ID. The file ID is generated by\nAI21 when you upload the file."
      operationId: v1_library_management
      parameters:
        - name: name
          in: query
          schema:
            title: Name
            type: string
        - name: path
          in: query
          schema:
            title: Path
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/FileStatus'
        - name: label
          in: query
          schema:
            title: Label
            type: array
            items:
              type: string
        - name: limit
          in: query
          schema:
            title: Limit
            type: integer
            default: 500000
        - name: offset
          in: query
          schema:
            title: Offset
            type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response V1 Library Management
                type: array
                items:
                  $ref: '#/components/schemas/FileResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - Library management
      summary: Upload Workspace File
      description: "Upload files to use for [RAG Engine document searches](https://docs.ai21.com/docs/rag-engine-overview).\nYou can assign metadata to your files to limit searches to specific files by file metadata.\nThere is no bulk upload method; files must be loaded one at a time.\n\n- **Max number of files:** No limit. The playground limits bulk uploads to 50 files per request.\n- **Max library size:** 1 GB total size. No limit to individual file size.\n- **Supported file types:** PDF, DocX, HTML, TXT"
      operationId: v1_library_upload
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_v1_library_upload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/library/files/{file_id}':
    get:
      tags:
        - Library management
      summary: Get File By Id
      description: "Retrieve a list of documents in the user's library. Optionally specify a\nfilter to find only files with matching labels or paths. This method\nreturns only metadata about files; to download a file, call\n`GET .../files/{file_id}/download`\n\nWhen specifying qualifiers with your request, only files that match\n_all_ qualifiers will be returns. So, for example, if you specify\n`label='financial'` and `status='UPLOADED'`, only files with the label\n\"financial\" AND status UPLOADED will be returned."
      operationId: v1_library_management
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - Library management
      summary: Update File
      description: "Update the specified parameters of a specific document in the user's library.\nThis operation currently supports updating the publicUrl and labels parameters.\n\n> **This operation overwrites the specified items with the new data you provide.**\n> If you wish to add new labels to the labels list without removing the existing ones,\n> you must submit a labels list that includes both the current and new labels.**\n>\n> For instance, if the current labels are \"Label A\" and \"Label B\", and you wish to\n> add \"New Label C\" and \"New Label D\" to the list, you must specify `\"labels\": [\"Label A\", \"Label B\", \"New Label C\", \"New Label D\"]`."
      operationId: v1_library_management
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilesUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Library management
      summary: Delete File
      description: "Delete the specified file from the library.\n\n**Restrictions**:\nFiles in `PROCESSING` status cannot be deleted. Attempts to delete such files will result in a <span style=\"color:red\">422</span> error."
      operationId: v1_library_delete
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/library/search:
    post:
      tags:
        - RAG Engine
      summary: Search
      operationId: v1_library_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibrarySearchRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/secrets:
    get:
      tags:
        - Secrets
      summary: Get Secret List
      operationId: v1_secret_storage
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
    post:
      tags:
        - Secrets
      summary: Save Secret
      operationId: v1_secret_storage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Secrets
      summary: Delete Secret
      operationId: v1_secret_storage
      parameters:
        - name: secret_id
          in: query
          required: true
          schema:
            title: Secret Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/secrets/{secret_id}':
    patch:
      tags:
        - Secrets
      summary: Update Secret
      operationId: v1_secret_storage
      parameters:
        - name: secret_id
          in: path
          required: true
          schema:
            title: Secret Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/library/batches/{batch_id}/status':
    get:
      tags:
        - RAG Engine
      summary: Get Batch Ingestion Status
      operationId: v1_library_management
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            title: Batch Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionBatchStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/library/files/{file_id}/download':
    get:
      tags:
        - RAG Engine
      summary: Generate Documents Signed Url
      operationId: v1_library_management
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response V1 Library Management
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/connectors/connected-users/{entity_id}/tokens':
    post:
      summary: Generate Org Token
      operationId: generate_org_token_studio_v1_connectors_connected_users__entity_id__tokens_post
      parameters:
        - name: entity_id
          in: path
          required: true
          schema:
            title: Entity Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsToken'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/connectors/connected-users/{entity_id}/data-sources':
    get:
      summary: Get Org Data Sources Info
      operationId: get_org_data_sources_info_studio_v1_connectors_connected_users__entity_id__data_sources_get
      parameters:
        - name: entity_id
          in: path
          required: true
          schema:
            title: Entity Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsDataSources'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/connectors/connected-users/{entity_id}/data-sources/{data_source}/status':
    get:
      summary: Get Data Source Status
      operationId: get_data_source_status_studio_v1_connectors_connected_users__entity_id__data_sources__data_source__status_get
      parameters:
        - name: entity_id
          in: path
          required: true
          schema:
            title: Entity Id
            type: string
        - name: data_source
          in: path
          required: true
          schema:
            title: Data Source
            type: string
        - name: paragon_token
          in: query
          required: true
          schema:
            title: Paragon Token
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsStatus'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/connectors/connected-users/{entity_id}/data-sources/{data_source}/workflows/{workflow_name}/run':
    post:
      summary: Run Workflow
      operationId: run_workflow_studio_v1_connectors_connected_users__entity_id__data_sources__data_source__workflows__workflow_name__run_post
      parameters:
        - name: entity_id
          in: path
          required: true
          schema:
            title: Entity Id
            type: string
        - name: data_source
          in: path
          required: true
          schema:
            title: Data Source
            type: string
        - name: workflow_name
          in: path
          required: true
          schema:
            title: Workflow Name
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/connectors/connected-users/data-sources/syncs:
    post:
      summary: Run Sync
      operationId: run_sync_studio_v1_connectors_connected_users_data_sources_syncs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorsSyncParams'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/connectors/website:
    get:
      summary: Get Website Connector
      operationId: get_website_connector_studio_v1_connectors_website_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
    post:
      summary: Post Website Connector
      operationId: post_website_connector_studio_v1_connectors_website_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebsiteConnectorPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/connectors/website/{connector_id}':
    get:
      summary: Get Website Connector By Id
      operationId: get_website_connector_by_id_studio_v1_connectors_website__connector_id__get
      parameters:
        - name: connector_id
          in: path
          required: true
          schema:
            title: Connector Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      summary: Delete Website Connector
      operationId: delete_website_connector_studio_v1_connectors_website__connector_id__delete
      parameters:
        - name: connector_id
          in: path
          required: true
          schema:
            title: Connector Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/connectors/website/{connector_id}/sync':
    post:
      summary: Sync Website
      operationId: sync_website_studio_v1_connectors_website__connector_id__sync_post
      parameters:
        - name: connector_id
          in: path
          required: true
          schema:
            title: Connector Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/connectors/paragon/webhook:
    post:
      summary: Forward Paragon Webhook
      operationId: forward_paragon_webhook_studio_v1_connectors_paragon_webhook_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
  /studio/v1/maestro/runs:
    post:
      summary: Create Maestro Run
      operationId: v1_maestro_run
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaestroRunsPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaestroRunResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/maestro/runs/{execution_id}':
    get:
      summary: Get Maestro Run
      operationId: v1_get_maestro_run
      parameters:
        - name: execution_id
          in: path
          required: true
          schema:
            title: Execution Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaestroRunResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos:
    get:
      summary: List Demos
      description: List all available demos.
      operationId: list_demos_studio_v1_demos_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Demos Studio V1 Demos Get
                type: array
                items:
                  $ref: '#/components/schemas/Demo'
    post:
      summary: Create Demo
      description: Create a new demo.
      operationId: create_demo_studio_v1_demos_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemoCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demo'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/demos/{demo_id}':
    get:
      summary: Get Demo
      description: Get a specific demo by ID.
      operationId: get_demo_studio_v1_demos__demo_id__get
      parameters:
        - name: demo_id
          in: path
          required: true
          schema:
            title: Demo Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demo'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      summary: Update Demo
      description: Update an existing demo.
      operationId: update_demo_studio_v1_demos__demo_id__put
      parameters:
        - name: demo_id
          in: path
          required: true
          schema:
            title: Demo Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemoUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demo'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      summary: Delete Demo
      description: Delete a demo.
      operationId: delete_demo_studio_v1_demos__demo_id__delete
      parameters:
        - name: demo_id
          in: path
          required: true
          schema:
            title: Demo Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/document-modifier/parse-pdf:
    post:
      summary: Parse Pdf
      description: Parse a PDF file and return its contents.
      operationId: parse_pdf_studio_v1_demos_document_modifier_parse_pdf_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_parse_pdf_studio_v1_demos_document_modifier_parse_pdf_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Parse Pdf Studio V1 Demos Document Modifier Parse Pdf Post
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/document-modifier/get-parsed-file:
    get:
      summary: Get Parsed File
      description: Get the parsed file from the document modifier.
      operationId: get_parsed_file_studio_v1_demos_document_modifier_get_parsed_file_get
      parameters:
        - name: file_name
          in: query
          required: true
          schema:
            title: File Name
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Parsed File Studio V1 Demos Document Modifier Get Parsed File Get
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/document-modifier/compare-text:
    post:
      summary: Compare Text
      description: Compare text in a document file against a reference text.
      operationId: compare_text_studio_v1_demos_document_modifier_compare_text_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompareTextRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Compare Text Studio V1 Demos Document Modifier Compare Text Post
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/document-modifier/download:
    post:
      summary: Download Modified Document
      description: Download a modified document.
      operationId: download_modified_document_studio_v1_demos_document_modifier_download_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadModifiedDocumentRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/document-modifier/jamba-execute:
    post:
      summary: Jamba Execute
      description: Execute a Jamba request.
      operationId: jamba_execute_studio_v1_demos_document_modifier_jamba_execute_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JambaExecuteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Jamba Execute Studio V1 Demos Document Modifier Jamba Execute Post
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/regulations/upload-check-compliance:
    post:
      summary: Upload Check Compliance
      description: Check compliance of a document file against regulatory requirements.
      operationId: upload_check_compliance_studio_v1_demos_regulations_upload_check_compliance_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_check_compliance_studio_v1_demos_regulations_upload_check_compliance_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Upload Check Compliance Studio V1 Demos Regulations Upload Check Compliance Post
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/rfi/generate-response-pdf:
    post:
      summary: Combine section answers ➜ styled PDF for download
      operationId: generate_response_pdf_studio_v1_demos_rfi_generate_response_pdf_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkdownRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
            application/pdf: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/rfi/process-rfi:
    post:
      summary: Process Rfi Document
      operationId: process_rfi_document_studio_v1_demos_rfi_process_rfi_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_process_rfi_document_studio_v1_demos_rfi_process_rfi_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Process Rfi Document Studio V1 Demos Rfi Process Rfi Post
                type: array
                items:
                  $ref: '#/components/schemas/RFIResponseSection'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/scraper/conversational-rag:
    post:
      summary: Execute Conv Rag
      operationId: execute_conv_rag_studio_v1_demos_scraper_conversational_rag_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvRagExecuteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Execute Conv Rag Studio V1 Demos Scraper Conversational Rag Post
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/demos/scraper/file-url/{file_id}':
    get:
      summary: Get File Url
      operationId: get_file_url_studio_v1_demos_scraper_file_url__file_id__get
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            title: File Id
            type: string
        - name: api_key
          in: query
          schema:
            title: Api Key
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/demos/scraper/can-iframe:
    get:
      summary: Can Iframe
      operationId: can_iframe_studio_v1_demos_scraper_can_iframe_get
      parameters:
        - name: url
          in: query
          required: true
          schema:
            title: Url
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Can Iframe Studio V1 Demos Scraper Can Iframe Get
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/website-connector/ingest-url:
    post:
      tags:
        - Website Connector
      summary: Connect Website
      operationId: v1_website_connector_ingest_url
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebsiteConnectorIngestUrlPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/website-connector/url-status:
    get:
      tags:
        - Website Connector
      summary: Get Url Status
      operationId: v1_website_connector_get_url_status
      parameters:
        - name: url_id
          in: query
          required: true
          schema:
            title: Url Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/website-connector/ingest-website:
    post:
      tags:
        - Website Connector
      summary: Ingest Website
      operationId: v1_website_connector_ingest_website
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebsiteConnectorIngestWebsitePayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/website-connector/website-status:
    get:
      tags:
        - Website Connector
      summary: Get Website Status
      operationId: v1_website_connector_get_website_status
      parameters:
        - name: website_id
          in: query
          required: true
          schema:
            title: Website Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/website-connector/retry-ingest-website:
    post:
      tags:
        - Website Connector
      summary: Retry Ingest Website
      operationId: v1_website_connector_retry_ingest_website
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebsiteConnectorRetryIngestWebsitePayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/website-connector/client-config:
    get:
      tags:
        - Website Connector
      summary: Get Client Config
      operationId: v1_website_connector_get_config
      parameters:
        - name: config_name
          in: query
          required: true
          schema:
            title: Config Name
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - Website Connector
      summary: Create Client Config
      operationId: v1_website_connector_create_config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebsiteConnectorCreateConfigPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/structured-rag/organizations/{organization_id}/schemas':
    get:
      summary: Get Organization Schemas
      operationId: get_organization_schemas_studio_v1_structured_rag_organizations__organization_id__schemas_get
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            title: Organization Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSchemas'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      summary: Create Organization Schema
      operationId: create_organization_schema_studio_v1_structured_rag_organizations__organization_id__schemas_post
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            title: Organization Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/structured-rag/organizations/{organization_id}/schema-detection':
    post:
      summary: Detect Schema
      operationId: detect_schema_studio_v1_structured_rag_organizations__organization_id__schema_detection_post
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            title: Organization Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/structured-rag/organizations/{organization_id}/schemas/{schema_name}':
    delete:
      summary: Delete Organization Schema
      operationId: delete_organization_schema_studio_v1_structured_rag_organizations__organization_id__schemas__schema_name__delete
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            title: Organization Id
            type: string
        - name: schema_name
          in: path
          required: true
          schema:
            title: Schema Name
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/generation/requirements:
    post:
      summary: Generate Requirements
      operationId: v1_studio_api_generation_requirements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequirementsGenerationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementsGenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/generation/thread-name:
    post:
      summary: Generate Thread Name
      operationId: v1_studio_api_generation_thread_name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadNameGenerationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadNameGenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/models:
    get:
      summary: Get Models Info
      operationId: v1_list_models_info
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsInfoResponse'
  /studio/v1/assistants:
    get:
      summary: Get Assistants
      operationId: v1_list_assistants
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssistantsResponse'
  '/studio/v1/assistants/{assistant_id}':
    get:
      summary: Get Assistant
      operationId: v1_get_assistant
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assistant'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      summary: Delete Assistant
      operationId: v1_delete_assistant
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAssistantResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/assistants/{assistant_id}/plans':
    get:
      summary: List Plans
      operationId: v1_list_plans
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPlansResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      summary: Create Plan
      operationId: v1_create_plan
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/assistants/{assistant_id}/plans/{plan_id}':
    get:
      summary: Get Plan
      operationId: v1_get_plan
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
        - name: plan_id
          in: path
          required: true
          schema:
            title: Plan Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      summary: Modify Plan
      operationId: v1_modify_plan
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
        - name: plan_id
          in: path
          required: true
          schema:
            title: Plan Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/assistants/{assistant_id}/routes':
    get:
      summary: Get Routes
      operationId: v1_list_routes
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
        - name: name
          in: query
          schema:
            title: Name
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      summary: Create Route
      operationId: v1_create_route
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoutePayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantRoute'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/assistants/{assistant_id}/routes/{route_id}':
    get:
      summary: Get Route
      operationId: v1_get_route
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
        - name: route_id
          in: path
          required: true
          schema:
            title: Route Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantRoute'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      summary: Delete Route
      operationId: v1_delete_route
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
        - name: route_id
          in: path
          required: true
          schema:
            title: Route Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      summary: Modify Route
      operationId: v1_modify_route
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
        - name: route_id
          in: path
          required: true
          schema:
            title: Route Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoutePayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantRoute'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/assistants/{assistant_id}/validate_plan':
    post:
      summary: Validate Plan
      operationId: v1_validate_plan
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            title: Assistant Id
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /studio/v1/settings/models:
    get:
      summary: Get Workspace Models By Organization Endpoint
      operationId: get_workspace_models_by_organization_endpoint_studio_v1_settings_models_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceModelsResponse'
  /studio/v1/settings/models/available:
    get:
      summary: Get Available Models Endpoint
      operationId: get_available_models_endpoint_studio_v1_settings_models_available_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
  '/studio/v1/settings/models/{name}/secrets':
    get:
      summary: Get Workspace Model Secret Endpoint
      operationId: get_workspace_model_secret_endpoint_studio_v1_settings_models__name__secrets_get
      parameters:
        - name: name
          in: path
          required: true
          schema:
            title: Name
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/studio/v1/settings/models/{name}':
    delete:
      summary: Delete Workspace Model Endpoint
      operationId: delete_workspace_model_endpoint_studio_v1_settings_models__name__delete
      parameters:
        - name: name
          in: path
          required: true
          schema:
            title: Name
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      summary: Update Workspace Model Endpoint
      operationId: update_workspace_model_endpoint_studio_v1_settings_models__name__patch
      parameters:
        - name: name
          in: path
          required: true
          schema:
            title: Name
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceModelUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    Assistant:
      title: Assistant
      required:
        - id
        - created_at
        - updated_at
        - object
        - name
        - organization_id
        - user_id
      type: object
      properties:
        id:
          title: Id
          type: string
          description: "A unique ID for the request (not the message). Repeated identical requests\nget different IDs. However, for a streaming response, the ID will be the same\nfor all responses in the stream.\n"
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        object:
          title: Object
          type: string
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        optimization:
          title: Optimization
          type: string
        organization_id:
          title: Organization Id
          type: string
        user_id:
          title: User Id
          type: string
        avatar:
          title: Avatar
          type: string
        is_archived:
          title: Is Archived
          type: boolean
          default: false
        models:
          title: Models
          anyOf:
            - type: array
              items:
                type: string
                format: uuid
            - type: array
              items:
                type: string
        tools:
          title: Tools
          type: array
          items:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/AssistantTool'
        tool_resources:
          $ref: '#/components/schemas/AssistantToolResource'
    AssistantMessage:
      title: AssistantMessage
      type: object
      properties:
        role:
          title: Role
          enum:
            - assistant
          type: string
          description: "The role of an individual message.\n- `user`:  Input provided by the user. Any instructions given here that conflict\n  with instructions given in the `system` prompt take precedence over the `system`\n  prompt instructions.\n- `assistant`:  Response generated by the model.\n- `system`:  Initial instructions provided to the system to provide general guidance\n  on the tone and voice of the generated message. An initial system message is\n  optional but recommended to provide guidance on the tone of the chat. For\n  example, \"You are a helpful chatbot with a background in earth sciences and a\n  charming French accent.\"\n"
          default: assistant
        content:
          title: Content
          type: string
        tool_calls:
          title: Tool Calls
          type: array
          items:
            $ref: '#/components/schemas/ToolCall'
    AssistantRoute:
      title: AssistantRoute
      required:
        - id
        - created_at
        - updated_at
        - plan_id
        - name
        - description
        - examples
        - assistant_id
      type: object
      properties:
        id:
          title: Id
          type: string
          description: "A unique ID for the request (not the message). Repeated identical requests\nget different IDs. However, for a streaming response, the ID will be the same\nfor all responses in the stream.\n"
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        plan_id:
          title: Plan Id
          type: string
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        examples:
          title: Examples
          type: array
          items:
            type: string
        assistant_id:
          title: Assistant Id
          type: string
    AssistantTool:
      title: AssistantTool
      enum:
        - file_search
        - web_search
        - plan_approval
      type: string
      description: An enumeration.
    AssistantToolResource:
      title: AssistantToolResource
      type: object
      properties:
        file_search:
          title: File Search
          type: object
        web_search:
          title: Web Search
          type: object
        plan_approval:
          title: Plan Approval
          type: object
    Body_convert_document_file_studio_v1_chat_files_convert_post:
      title: Body_convert_document_file_studio_v1_chat_files_convert_post
      required:
        - files
      type: object
      properties:
        files:
          title: Files
          type: array
          items:
            type: string
            format: binary
    Body_parse_pdf_studio_v1_demos_document_modifier_parse_pdf_post:
      title: Body_parse_pdf_studio_v1_demos_document_modifier_parse_pdf_post
      required:
        - file
      type: object
      properties:
        file:
          title: File
          type: string
          format: binary
    Body_process_rfi_document_studio_v1_demos_rfi_process_rfi_post:
      title: Body_process_rfi_document_studio_v1_demos_rfi_process_rfi_post
      required:
        - file
      type: object
      properties:
        file:
          title: File
          type: string
          description: RFI document file (PDF supported)
          format: binary
        budget:
          title: Budget
          type: string
          description: 'Budget level: LOW, MEDIUM, or HIGH'
          default: MEDIUM
        vector_store_id:
          title: Vector Store Id
          type: string
          description: Vector store ID to use for RFI processing
    Body_upload_check_compliance_studio_v1_demos_regulations_upload_check_compliance_post:
      title: Body_upload_check_compliance_studio_v1_demos_regulations_upload_check_compliance_post
      required:
        - file
      type: object
      properties:
        file:
          title: File
          type: string
          format: binary
        budget:
          title: Budget
          type: string
          default: MEDIUM
    Body_v1_library_upload:
      title: Body_v1_library_upload
      required:
        - file
      type: object
      properties:
        file:
          title: File
          type: string
          format: binary
        path:
          title: Path
          type: string
        labels:
          title: Labels
          type: array
          items:
            type: string
        publicUrl:
          title: Publicurl
          type: string
        custom_configs:
          title: Custom Configs
          type: string
        upload_mode:
          allOf:
            - $ref: '#/components/schemas/UploadMode'
          default: immediate
        batch_id:
          title: Batch Id
          type: string
          format: uuid
        data_source:
          title: Data Source
          type: string
    ChatCompletion:
      title: ChatCompletion
      required:
        - id
        - choices
        - usage
      type: object
      properties:
        id:
          title: Id
          type: string
          description: "A unique ID for the request (not the message). Repeated identical requests\nget different IDs. However, for a streaming response, the ID will be the same\nfor all responses in the stream.\n"
        choices:
          title: Choices
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionResponseChoice'
          description: "One or more responses, depending on the `n` parameter from the request.\n"
        usage:
          $ref: '#/components/schemas/UsageInfo'
        meta:
          title: Meta
          type: object
      description: Used for non-streaming responses. Streaming responses return `ChatCompletionVllmStreamingMessage`.
    ChatCompletionResponseChoice:
      title: ChatCompletionResponseChoice
      required:
        - index
        - message
      type: object
      properties:
        index:
          title: Index
          type: integer
          description: "Zero-based index of the message in the list of messages. Note that this might not\ncorrespond with the position in the response list.\n"
        message:
          $ref: '#/components/schemas/AssistantMessage'
        logprobs:
          $ref: '#/components/schemas/Logprobs'
        finish_reason:
          title: Finish Reason
          type: string
          description: "Why the message ended. Possible reasons:\n  - `stop`: The response ended naturally as a complete answer (due to\n    [end-of-sequence token](https://huggingface.co/docs/transformers/v4.32.1/en/llm_tutorial#generate-text))\n    or because the model generated a stop sequence provided in the request.\n  - `length`:  The response ended by reaching `max_tokens`.\n"
      description: "A single possible response generated by the system. For non-streaming replies, There\ncan be multiple responses, depending on what `n` value you specified in the request.\n"
    ChatCompletionResponseDeltaChoice:
      title: ChatCompletionResponseDeltaChoice
      required:
        - index
        - delta
      type: object
      properties:
        index:
          title: Index
          type: integer
          description: Always zero in streamed responses.
        delta:
          title: Delta
          anyOf:
            - $ref: '#/components/schemas/ChatStreamingFirstDelta'
            - $ref: '#/components/schemas/ChatStreamingContentDelta'
            - $ref: '#/components/schemas/ChatStreamingToolCallsFirstDelta'
            - $ref: '#/components/schemas/ChatStreamingToolCallsDelta'
          description: "- **The first message** in the stream will be an object set to `{\"role\":\"assistant\"}`.\n- **Subsequent messages** will have an object `{\"content\": __token__}` with the generated token.\n"
        logprobs:
          $ref: '#/components/schemas/Logprobs'
        finish_reason:
          title: Finish Reason
          type: string
          description: "One of the following string values:\n  - `null`: All messages but the last will return null for `finish_reason`.\n  - `stop`: The response ended naturally as a complete answer (due to\n    [end-of-sequence token](https://huggingface.co/docs/transformers/v4.32.1/en/llm_tutorial#generate-text))\n     or because the model generated a stop sequence provided in the request.\n  - `length`:  The response ended by reaching `max_tokens`.\n"
    ChatCompletionVllmStreamingMessage:
      title: ChatCompletionVllmStreamingMessage
      required:
        - id
        - choices
      type: object
      properties:
        id:
          title: Id
          type: string
          description: "A unique ID for the request (not the message). Repeated identical requests\nget different IDs. However, for a streaming response, the ID will be the same\nfor all responses in the stream.\n"
        choices:
          title: Choices
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionResponseDeltaChoice'
          description: The message
        usage:
          $ref: '#/components/schemas/UsageInfo'
        meta:
          title: Meta
          type: object
      description: Returned for streaming messages. Non-streaming responses return `ChatCompletion`.
    ChatRequest:
      title: ChatRequest
      required:
        - model
        - messages
      type: object
      properties:
        model:
          $ref: '#/components/schemas/ModelName'
        messages:
          title: Messages
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/UserMessage'
              - $ref: '#/components/schemas/AssistantMessage'
              - $ref: '#/components/schemas/ToolMessage'
              - $ref: '#/components/schemas/SystemMessage'
            discriminator:
              propertyName: role
              mapping:
                user: '#/components/schemas/UserMessage'
                assistant: '#/components/schemas/AssistantMessage'
                tool: '#/components/schemas/ToolMessage'
                system: '#/components/schemas/SystemMessage'
          description: "The previous messages in this chat, from oldest (index 0) to newest. Messages\nmust be alternating `user`/`assistant` messages, optionally starting with a `system`\nmessage. For single turn interactions, this should be an optional `system` message,\nand a single `user` message. Maximum total size for the list is about 256K tokens.\n"
        tools:
          title: Tools
          type: array
          items:
            $ref: '#/components/schemas/ToolDefinition'
        n:
          title: N
          type: integer
          description: "How many chat responses to generate. _Range: 1 – 16_ **Notes:**\n- If `n > 1`, setting `temperature=0` will fail because all answers are guaranteed to be duplicates.\n- `n` must be 1 when `stream = True`\n"
          default: 1
        max_tokens:
          title: Max Tokens
          type: integer
          description: "The maximum number of tokens to allow for each generated response message. Typically\nthe best way to limit output length is by providing a length limit in the system\nprompt (for example, \"limit your answers to three sentences\"). _Range: 0 – 4096_\n"
          default: 4096
        temperature:
          title: Temperature
          type: number
          description: "How much variation to provide in each answer. Setting this value to 0 guarantees the\nsame response to the same question every time. Setting a higher value encourages more\nvariation. Modifies the distribution from which tokens are sampled.\n[More information](https://docs.ai21.com/docs/sampling-from-language-models#temperature)\n_Range: 0.0 – 2.0_\n"
        top_p:
          title: Top P
          maximum: 1.0
          minimum: 0.0
          exclusiveMinimum: true
          type: number
          description: "Limit the pool of next tokens in each step to the top N percentile of possible\ntokens, where 1.0 means the pool of all possible tokens, and 0.01 means the\npool of only the most likely next tokens. [More information]\n(https://docs.ai21.com/docs/sampling-from-language-models#topp) _Range: 0 \\<= value \\<=1.0_\n"
          default: 1
        stop:
          title: Stop
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: "End the message when the model generates one of these strings. The stop sequence\nis not included in the generated message. Each sequence can be up to 64K long, and\ncan contain newlines as `\\n` characters. Examples:\n- Single stop string with a word and a period: \"monkeys.\"\n- Multiple stop strings and a newline: [\"cat\", \"dog\", \" .\", \"####\", \"\\n\"]\n"
        stream:
          title: Stream
          type: boolean
          description: "Whether or not to stream the result one token at a time using\n[server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events).\nThis can be useful when waiting for long results where a long wait time for an\nanswer can be problematic, such as a chatbot. If set to `True`, then `n` must\nbe 1. A streaming response is different than the non-streaming response.\n"
          default: false
        mock_response:
          $ref: '#/components/schemas/MockResponseConfig'
        documents:
          title: Documents
          type: array
          items:
            $ref: '#/components/schemas/DocumentSchema'
        response_format:
          title: Response Format
          allOf:
            - $ref: '#/components/schemas/ResponseFormat'
          default:
            type: text
    ChatStreamingContentDelta:
      title: ChatStreamingContentDelta
      required:
        - content
      type: object
      properties:
        content:
          title: Content
          type: string
    ChatStreamingFirstDelta:
      title: ChatStreamingFirstDelta
      required:
        - role
      type: object
      properties:
        role:
          title: Role
          enum:
            - system
            - user
            - assistant
            - tool
          type: string
          description: "The role of an individual message.\n- `user`:  Input provided by the user. Any instructions given here that conflict\n  with instructions given in the `system` prompt take precedence over the `system`\n  prompt instructions.\n- `assistant`:  Response generated by the model.\n- `system`:  Initial instructions provided to the system to provide general guidance\n  on the tone and voice of the generated message. An initial system message is\n  optional but recommended to provide guidance on the tone of the chat. For\n  example, \"You are a helpful chatbot with a background in earth sciences and a\n  charming French accent.\"\n"
    ChatStreamingToolCallsDelta:
      title: ChatStreamingToolCallsDelta
      required:
        - tool_calls
      type: object
      properties:
        tool_calls:
          title: Tool Calls
          type: array
          items:
            $ref: '#/components/schemas/ToolCallDelta'
    ChatStreamingToolCallsFirstDelta:
      title: ChatStreamingToolCallsFirstDelta
      required:
        - tool_calls
      type: object
      properties:
        tool_calls:
          title: Tool Calls
          type: array
          items:
            $ref: '#/components/schemas/ToolCallDeltaStart'
    CompareTextRequest:
      title: CompareTextRequest
      required:
        - original_text
        - modified_text
      type: object
      properties:
        original_text:
          title: Original Text
          type: string
        modified_text:
          title: Modified Text
          type: string
    ComparisonOperator:
      title: ComparisonOperator
      type: object
    ConnectorsDataSources:
      title: ConnectorsDataSources
      required:
        - data_sources
      type: object
      properties:
        data_sources:
          title: Data Sources
          type: array
          items:
            $ref: '#/components/schemas/DataSourceMetadata'
    ConnectorsStatus:
      title: ConnectorsStatus
      required:
        - created_at
        - workflow_status
        - files_successfully_uploaded
        - failed_uploaded_files
      type: object
      properties:
        created_at:
          title: Created At
          type: string
        workflow_status:
          $ref: '#/components/schemas/ConnectorsWorkflowStatus'
        files_successfully_uploaded:
          title: Files Successfully Uploaded
          type: integer
        failed_uploaded_files:
          title: Failed Uploaded Files
          type: integer
    ConnectorsSyncParams:
      title: ConnectorsSyncParams
      required:
        - token
        - data_source
        - organization_id
        - pipeline
      type: object
      properties:
        token:
          title: Token
          type: string
        data_source:
          title: Data Source
          type: string
        organization_id:
          title: Organization Id
          type: string
        pipeline:
          title: Pipeline
          type: string
        configuration:
          title: Configuration
          type: object
        configuration_name:
          title: Configuration Name
          type: string
    ConnectorsToken:
      title: ConnectorsToken
      required:
        - token
      type: object
      properties:
        token:
          title: Token
          type: string
    ConnectorsWorkflowStatus:
      title: ConnectorsWorkflowStatus
      enum:
        - IN_PROGRESS
        - PARTIALLY_COMPLETED
        - FAILED
        - SUCCEEDED
      description: An enumeration.
    ConvRagExecuteRequest:
      title: ConvRagExecuteRequest
      required:
        - message
      type: object
      properties:
        message:
          title: Message
          type: string
        label:
          title: Label
          type: string
        api_key:
          title: Api Key
          type: string
    ConversationalRagConfig:
      title: ConversationalRagConfig
      required:
        - messages
      type: object
      properties:
        messages:
          title: Messages
          type: array
          items:
            $ref: '#/components/schemas/Message'
          description: messages
        path:
          title: Path
          type: string
        labels:
          title: Labels
          type: array
          items:
            type: string
        file_ids:
          title: File Ids
          type: array
          items:
            type: string
        retrieval_strategy:
          title: Retrieval Strategy
          enum:
            - default
            - segments
            - add_neighbors
            - full_doc
          type: string
          default: segments
        retrieval_similarity_threshold:
          title: Retrieval Similarity Threshold
          type: number
          default: 0
        max_neighbors:
          title: Max Neighbors
          type: integer
          default: 1
        hybrid_search_alpha:
          title: Hybrid Search Alpha
          type: number
          default: 1
        response_language:
          title: Response Language
          enum:
            - arabic
            - dutch
            - english
            - french
            - german
            - hebrew
            - italian
            - portuguese
            - spanish
          type: string
          default: english
        verbose:
          title: Verbose
          type: boolean
          default: false
        should_set_custom_retrieval_configs:
          title: Should Set Custom Retrieval Configs
          type: boolean
          default: false
      description: This class is to be used as a common class to all Studio API requests payloads
    ConversationalRagResult:
      title: ConversationalRagResult
      required:
        - id
        - choices
        - sources
      type: object
      properties:
        id:
          title: Id
          type: string
          description: "A unique ID for the request (not the message). Repeated identical requests\nget different IDs. However, for a streaming response, the ID will be the same\nfor all responses in the stream.\n"
        choices:
          title: Choices
          type: array
          items:
            $ref: '#/components/schemas/Message'
        search_queries:
          title: Search Queries
          type: array
          items:
            type: string
        context_retrieved:
          title: Context Retrieved
          type: boolean
          default: false
        answer_in_context:
          title: Answer In Context
          type: boolean
          default: false
        sources:
          title: Sources
          type: array
          items:
            $ref: '#/components/schemas/ConversationalRagSource'
    ConversationalRagSource:
      title: ConversationalRagSource
      required:
        - text
      type: object
      properties:
        text:
          title: Text
          type: string
        file_id:
          title: File Id
          type: string
        file_name:
          title: File Name
          type: string
        score:
          title: Score
          type: number
        order:
          title: Order
          type: integer
        public_url:
          title: Public Url
          type: string
        labels:
          title: Labels
          type: array
          items:
            type: string
    CreateMaestroRunsPayload:
      title: CreateMaestroRunsPayload
      required:
        - input
      type: object
      properties:
        input:
          title: Input
          anyOf:
            - type: array
              items:
                $ref: '#/components/schemas/Message'
            - type: string
        output_type:
          title: Output Type
          type: object
        models:
          title: Models
          type: array
          items:
            type: string
        tools:
          title: Tools
          type: array
          items:
            type: object
            additionalProperties:
              enum:
                - file_search
                - web_search
              type: string
        tool_resources:
          $ref: '#/components/schemas/ToolResources'
        context:
          title: Context
          type: object
        requirements:
          title: Requirements
          type: array
          items:
            $ref: '#/components/schemas/Requirement'
        budget:
          title: Budget
          enum:
            - low
            - medium
            - high
          type: string
        verbose:
          title: Verbose
          type: boolean
          default: false
        include:
          title: Include
          type: array
          items:
            type: string
        structured_rag_enabled:
          title: Structured Rag Enabled
          type: boolean
          default: false
        dynamic_planning_enabled:
          title: Dynamic Planning Enabled
          type: boolean
          default: false
        tools_allowed:
          title: Tools Allowed
          type: boolean
          default: false
        payload_type:
          allOf:
            - $ref: '#/components/schemas/MaestroPayloadType'
          default: maestro_run
        custom_retrieval_configs:
          title: Custom Retrieval Configs
          type: array
          items:
            type: object
        response_language:
          title: Response Language
          enum:
            - arabic
            - dutch
            - english
            - french
            - german
            - hebrew
            - italian
            - portuguese
            - spanish
          type: string
          default: english
    CreateOrganizationSchemaRequest:
      title: CreateOrganizationSchemaRequest
      required:
        - schema_name
        - schema_object
      type: object
      properties:
        schema_name:
          title: Schema Name
          type: string
        schema_object:
          title: Schema Object
          type: object
        run_classification:
          title: Run Classification
          type: boolean
          default: false
    CreatePlanPayload:
      title: CreatePlanPayload
      required:
        - code
      type: object
      properties:
        code:
          title: Code
          type: string
        schemas:
          title: Schemas
          type: array
          items:
            type: object
    CreateRoutePayload:
      title: CreateRoutePayload
      required:
        - plan_id
        - name
        - description
        - examples
      type: object
      properties:
        plan_id:
          title: Plan Id
          type: string
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        examples:
          title: Examples
          type: array
          items:
            type: string
    CreateSecretPayload:
      title: CreateSecretPayload
      required:
        - secret_name
        - secret_value
      type: object
      properties:
        secret_name:
          title: Secret Name
          type: string
        secret_value:
          title: Secret Value
          type: string
    DataSourceMetadata:
      title: DataSourceMetadata
      required:
        - name
        - type
        - description
        - icon
        - connected
      type: object
      properties:
        name:
          title: Name
          type: string
        type:
          title: Type
          type: string
        description:
          title: Description
          type: string
        icon:
          title: Icon
          type: string
        connected:
          title: Connected
          type: boolean
    DeleteAssistantResponse:
      title: DeleteAssistantResponse
      required:
        - id
      type: object
      properties:
        object:
          title: Object
          type: string
          default: assistant
        deleted:
          title: Deleted
          type: boolean
          default: true
        id:
          title: Id
          type: string
          description: "A unique ID for the request (not the message). Repeated identical requests\nget different IDs. However, for a streaming response, the ID will be the same\nfor all responses in the stream.\n"
    Demo:
      title: Demo
      required:
        - id
        - name
        - visibility
        - status
        - ui_component_name
      type: object
      properties:
        id:
          title: Id
          type: string
          description: "A unique ID for the request (not the message). Repeated identical requests\nget different IDs. However, for a streaming response, the ID will be the same\nfor all responses in the stream.\n"
        name:
          title: Name
          type: string
          description: Name of the demo
        visibility:
          allOf:
            - $ref: '#/components/schemas/DemoVisibility'
          description: Visibility of the demo (public/private)
        status:
          allOf:
            - $ref: '#/components/schemas/DemoStatus'
          description: Status of the demo (active/inactive)
        config:
          title: Config
          type: object
          description: Demo configuration
        ui_component_name:
          title: Ui Component Name
          type: string
          description: Name of the UI component
    DemoCreate:
      title: DemoCreate
      required:
        - name
        - visibility
        - status
        - ui_component_name
      type: object
      properties:
        name:
          title: Name
          type: string
          description: Name of the demo
        visibility:
          allOf:
            - $ref: '#/components/schemas/DemoVisibility'
          description: Visibility of the demo (public/private)
        status:
          allOf:
            - $ref: '#/components/schemas/DemoStatus'
          description: Status of the demo (active/inactive)
        config:
          title: Config
          type: object
          description: Demo configuration
        ui_component_name:
          title: Ui Component Name
          type: string
          description: Name of the UI component
    DemoStatus:
      title: DemoStatus
      enum:
        - active
        - inactive
      description: An enumeration.
    DemoUpdate:
      title: DemoUpdate
      type: object
      properties:
        name:
          title: Name
          type: string
          description: Name of the demo
        visibility:
          allOf:
            - $ref: '#/components/schemas/DemoVisibility'
          description: Visibility of the demo (public/private)
        status:
          allOf:
            - $ref: '#/components/schemas/DemoStatus'
          description: Status of the demo (active/inactive)
        config:
          title: Config
          type: object
          description: Demo configuration
        ui_component_name:
          title: Ui Component Name
          type: string
          description: Name of the UI component
    DemoVisibility:
      title: DemoVisibility
      enum:
        - public
        - private
      description: An enumeration.
    DetectSchemaRequest:
      title: DetectSchemaRequest
      required:
        - documents
      type: object
      properties:
        documents:
          title: Documents
          type: array
          items:
            $ref: '#/components/schemas/DocumentReference'
        queries:
          title: Queries
          type: array
          items:
            type: string
    DetectSchemaResponse:
      title: DetectSchemaResponse
      required:
        - schema_name
        - schema_definition
      type: object
      properties:
        schema_name:
          title: Schema Name
          type: string
        schema_definition:
          title: Schema Definition
          type: object
    DocumentReference:
      title: DocumentReference
      required:
        - document_id
        - name
      type: object
      properties:
        document_id:
          title: Document Id
          type: string
          format: uuid
        name:
          title: Name
          type: string
    DocumentSchema:
      title: DocumentSchema
      required:
        - content
      type: object
      properties:
        id:
          title: Id
          type: string
          description: "A unique ID for the request (not the message). Repeated identical requests\nget different IDs. However, for a streaming response, the ID will be the same\nfor all responses in the stream.\n"
        content:
          title: Content
          type: string
        metadata:
          title: Metadata
          type: object
          additionalProperties:
            type: string
    DownloadModifiedDocumentRequest:
      title: DownloadModifiedDocumentRequest
      required:
        - content
        - filename
      type: object
      properties:
        content:
          title: Content
          type: string
        filename:
          title: Filename
          type: string
    FileResponse:
      title: FileResponse
      required:
        - fileId
        - name
        - fileType
        - sizeBytes
        - createdBy
        - creationDate
        - lastUpdated
        - status
      type: object
      properties:
        fileId:
          title: Fileid
          type: string
          description: "The unique identifier of the file, generated by AI21.\n"
          format: uuid
        name:
          title: Name
          type: string
          description: "The name of the file. This is the local file name from when the file was\nuploaded. It cannot be modified.\n"
        path:
          title: Path
          type: string
          description: "An arbitrary file-path-like string to indicate the content of a file. This has\nnothing to do with the location of the file in storage or on disk, and is only\nanother label that you can assign to the file in path-like format to help you\norganize the contents of the file or filter queries against your files. Example\npaths might be `pets/fish` or `pets/dogs`. Then, when searching your library,\nyou can filter files by the full path or path prefix. So to search only files\nin the \"dog folder\", filter by the path `/pets/dogs`. To search all files in\nthe \"pet folder\", filter your search by the path `pets/` when searching by path.\nThere isn't a restriction on whether a path must start or end with a / mark, but\nbe consistent in your usage, and all matches are prefix matching, not substring\nmatching. So filtering by `dog/` matches `dog/` and `dog/setter` but not `pets/dog/`.\n"
        fileType:
          title: Filetype
          type: string
          description: "The file type. See the file upload method to learn what file types are supported.\n"
        sizeBytes:
          title: Sizebytes
          type: integer
          description: 'The size of the file, in bytes.'
        labels:
          title: Labels
          type: array
          items:
            type: string
          description: "Any string labels you have associated with the file. You can apply arbitrary\nstring labels to your files and limit queries to files with one or more labels.\nSimilar to paths, but labels do not prefix match. Labels are case-sensitive.\nThere can be a maximum of 20 unique labels per account.\n"
        publicUrl:
          title: Publicurl
          type: string
          description: "The public URL of the file, if any. This URL is not validated by\nAI21 or used in any way. It is strictly a piece of metadata that you can\noptionally attach to a file.\n"
        createdBy:
          title: Createdby
          type: string
          description: "An internal identifier of the user who uploaded the file.\n"
          format: uuid
        creationDate:
          title: Creationdate
          type: string
          description: The date when the file was uploaded.
          format: date
        lastUpdated:
          title: Lastupdated
          type: string
          description: When the file data or metadata was last changed.
          format: date
        status:
          title: Status
          type: string
          description: "File status. One of the following values: \"DB_RECORD_CREATED\",\n\"UPLOADED\", \"UPLOAD_FAILED\", \"PROCESSED\", \"PROCESSING_FAILED\"\n"
        dataSource:
          title: Datasource
          type: string
    FileStatus:
      title: FileStatus
      enum:
        - DB_RECORD_CREATED
        - UPLOADED
        - UPLOAD_FAILED
        - PROCESSED
        - PROCESSING_FAILED
      type: string
      description: An enumeration.
    FilesUpdateRequest:
      title: FilesUpdateRequest
      type: object
      properties:
        publicUrl:
          title: Publicurl
          type: string
          description: "The public URL of the file, if any. This URL is not validated by\nAI21 or used in any way. It is strictly a piece of metadata that you can\noptionally attach to a file.\n"
        labels:
          title: Labels
          type: array
          items:
            type: string
          description: "Any labels to associate with this file. Separate multiple labels with commas. If\nprovided, will overwrite all existing labels.\n"
    FunctionToolDefinition:
      title: FunctionToolDefinition
      required:
        - name
      type: object
      properties:
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        parameters:
          $ref: '#/components/schemas/ToolParameters'
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    IgnestionBatchStatusCount:
      title: IgnestionBatchStatusCount
      required:
        - status
        - count
      type: object
      properties:
        status:
          title: Status
          type: string
        count:
          title: Count
          type: integer
    IngestionBatchStatusResponse:
      title: IngestionBatchStatusResponse
      required:
        - batch_id
        - total_documents
        - statuses
      type: object
      properties:
        batch_id:
          title: Batch Id
          type: string
          description: The UUID of the batch
        total_documents:
          title: Total Documents
          type: integer
          description: Total number of documents in the batch
        statuses:
          title: Statuses
          type: array
          items:
            $ref: '#/components/schemas/IgnestionBatchStatusCount'
          description: List of document counts by status
    JambaExecuteRequest:
      title: JambaExecuteRequest
      required:
        - content
        - task
        - prompt
      type: object
      properties:
        content:
          title: Content
          type: string
        task:
          title: Task
          type: string
        prompt:
          title: Prompt
          type: string
        api_key:
          title: Api Key
          type: string
    LibrarySearchRequest:
      title: LibrarySearchRequest
      required:
        - query
      type: object
      properties:
        query:
          title: Query
          type: string
        maxSegments:
          title: Maxsegments
          type: integer
        path:
          title: Path
          type: string
        labels:
          title: Labels
          type: array
          items:
            type: string
        labels_filter:
          $ref: '#/components/schemas/QueryFilter'
        labels_filter_mode:
          title: Labels Filter Mode
          enum:
            - AND
            - OR
          type: string
          default: AND
        fileIds:
          title: Fileids
          type: array
          items:
            type: string
            format: uuid
        retrievalStrategy:
          allOf:
            - $ref: '#/components/schemas/RetrievalStrategy'
          default: segments
        maxNeighbors:
          title: Maxneighbors
          type: integer
          default: 1
        retrievalSimilarityThreshold:
          title: Retrievalsimilaritythreshold
          maximum: 1.0
          minimum: 0.0
          type: number
        hybridSearchAlpha:
          title: Hybridsearchalpha
          maximum: 1.0
          minimum: 0.0
          type: number
      description: This class is to be used as a common class to all Studio API requests payloads
    ListAssistantsResponse:
      title: ListAssistantsResponse
      required:
        - results
      type: object
      properties:
        results:
          title: Results
          type: array
          items:
            $ref: '#/components/schemas/Assistant'
    ListPlansResponse:
      title: ListPlansResponse
      required:
        - results
      type: object
      properties:
        results:
          title: Results
          type: array
          items:
[...]
